@charset "UTF-8";
/*
  Author: Rebecca skibo
  file: styles.css
  Assignment: Fit For fun fitness club
  Instructor: Kirsten Markley
*/

/*html styles */


/* header styles */

/* Nav styles */

/*body styles */

/* table styles */

/* form styles */

/* styles for the form */
